bin/i386-win32/**
bin/i386-linux/**
bin/x86_64-linux/**
bin/x86_64-win64/**
lib/**
debug/**
src/backup/**
src/thirdparty/backup/**
src/thirdparty/piskelinfo/backup/**
*.mo
*.exe
bin/datatest-*
*.bz2
*.zip
